<a href="https://colab.research.google.com/github/anjumariaphilip/A1b_Assignment_topic.xls/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
ball_by_ball_data_path = '/content/IPL_ball_by_ball_updated till 2024 1.csv'
ball_by_ball_df = pd.read_csv(ball_by_ball_data_path)

<ipython-input-3-40d598959e5e>:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  ball_by_ball_df = pd.read_csv(ball_by_ball_data_path)

In [4]:
salaries_data_path = '/content/IPL SALARIES 2024 2.xlsx'
salaries_df = pd.read_excel(salaries_data_path)

In [5]:
ball_by_ball_df.head(), salaries_df.head()

(   Match id        Date   Season           Batting team  \
 0    335982  18-04-2008  2007/08  Kolkata Knight Riders
 1    335982  18-04-2008  2007/08  Kolkata Knight Riders
 2    335982  18-04-2008  2007/08  Kolkata Knight Riders
 3    335982  18-04-2008  2007/08  Kolkata Knight Riders
 4    335982  18-04-2008  2007/08  Kolkata Knight Riders

                   Bowling team  Innings No  Ball No   Bowler      Striker  \
 0  Royal Challengers Bangalore           1      0.1  P Kumar   SC Ganguly
 1  Royal Challengers Bangalore           1      0.2  P Kumar  BB McCullum
 2  Royal Challengers Bangalore           1      0.2  P Kumar  BB McCullum
 3  Royal Challengers Bangalore           1      0.3  P Kumar  BB McCullum
 4  Royal Challengers Bangalore           1      0.4  P Kumar  BB McCullum

    Non Striker  runs_scored  extras type of extras  score score/wicket  \
 0  BB McCullum            0       1        legbyes      1          1/0
 1   SC Ganguly            0       0            NaN      1          1/0
 2   SC Ganguly            0       1          wides      2          2/0
 3   SC Ganguly            0       0            NaN      2          2/0
 4   SC Ganguly            0       0            NaN      2          2/0

    wicket_confirmation wicket_type fielders_involved Player Out
 0                    0         NaN               NaN        NaN
 1                    0         NaN               NaN        NaN
 2                    0         NaN               NaN        NaN
 3                    0         NaN               NaN        NaN
 4                    0         NaN               NaN        NaN  ,
            Player      Salary   Rs  international  iconic
 0  Abhishek Porel     20 lakh   20              0     NaN
 1   Anrich Nortje   6.5 crore  650              1     NaN
 2      Axar Patel     9 crore  900              0     NaN
 3    David Warner  6.25 crore  625              1     NaN
 4   Ishant Sharma     50 lakh   50              0     NaN)

In [6]:
ball_by_ball_df['Date'] = pd.to_datetime(ball_by_ball_df['Date'], format='%d-%m-%Y')

In [7]:
ball_by_ball_df['Round'] = (ball_by_ball_df['Match id'] - ball_by_ball_df['Match id'].min()) // 10 + 1

In [8]:
match_summary = ball_by_ball_df.groupby(['Round', 'Match id', 'Season', 'Date', 'Striker', 'Bowler']).agg({
    'runs_scored': 'sum',
    'wicket_confirmation': 'sum'
}).reset_index()

In [9]:
match_summary.rename(columns={
    'Striker': 'Batsman',
    'Bowler': 'Bowler',
    'runs_scored': 'Runs Scored',
    'wicket_confirmation': 'Wickets Taken'
}, inplace=True)

In [10]:
match_summary.head()

,Round,Match id,Season,Date,Batsman,Bowler,Runs Scored,Wickets Taken
0,1,335982,2007/08,2008-04-18,AA Noffke,AB Agarkar,2,0
1,1,335982,2007/08,2008-04-18,AA Noffke,SC Ganguly,7,1
2,1,335982,2007/08,2008-04-18,B Akhil,AB Agarkar,0,1
3,1,335982,2007/08,2008-04-18,BB McCullum,AA Noffke,24,0
4,1,335982,2007/08,2008-04-18,BB McCullum,CL White,16,0

In [11]:
def get_top_performers(df, column, top_n=3):
    return df.groupby('Round').apply(lambda x: x.nlargest(top_n, column)).reset_index(drop=True)

In [12]:
top_run_getters = get_top_performers(match_summary, 'Runs Scored')

In [13]:
top_wicket_takers = get_top_performers(match_summary, 'Wickets Taken')

In [14]:
top_run_getters.head(10), top_wicket_takers.head(10)

(   Round  Match id   Season       Date        Batsman           Bowler  \
 0      1    335990  2007/08 2008-04-24      A Symonds         SK Warne
 1      1    335982  2007/08 2008-04-18    BB McCullum           Z Khan
 2      1    335982  2007/08 2008-04-18    BB McCullum        JH Kallis
 3      2    335996  2007/08 2008-04-28       MS Dhoni         DW Steyn
 4      2    335999  2007/08 2008-05-01      RG Sharma  Gagandeep Singh
 5      2    335994  2007/08 2008-04-27   AC Gilchrist       SM Pollock
 6      3    336003  2007/08 2008-05-03      DJ Hussey  Gagandeep Singh
 7      3    336006  2007/08 2008-05-05       R Dravid        VRV Singh
 8      3    336011  2007/08 2008-05-09      YK Pathan          PP Ojha
 9      4    336018  2007/08 2008-05-14  ST Jayasuriya        JA Morkel

    Runs Scored  Wickets Taken
 0           35              0
 1           33              0
 2           32              0
 3           31              0
 4           28              0
 5           27              0
 6           33              1
 7           27              2
 8           25              1
 9           36              0  ,
    Round  Match id   Season       Date          Batsman           Bowler  \
 0      1    335991  2007/08 2008-04-25    KC Sangakkara  Harbhajan Singh
 1      1    335982  2007/08 2008-04-18        AA Noffke       SC Ganguly
 2      1    335982  2007/08 2008-04-18          B Akhil       AB Agarkar
 3      2    335997  2007/08 2008-04-29  Mohammad Hafeez    ST Jayasuriya
 4      2    335992  2007/08 2008-04-26         GC Smith         SB Joshi
 5      2    335992  2007/08 2008-04-26        JH Kallis       SK Trivedi
 6      3    336002  2007/08 2008-05-25         AS Yadav         DW Steyn
 7      3    336006  2007/08 2008-05-05         R Dravid        VRV Singh
 8      3    336006  2007/08 2008-05-05          V Kohli        IK Pathan
 9      4    336012  2007/08 2008-05-28          B Akhil         DR Smith

    Runs Scored  Wickets Taken
 0           14              2
 1            7              1
 2            0              1
 3            0              2
 4           14              1
 5            1              1
 6            0              2
 7           27              2
 8            9              2
 9            0              1  )

In [15]:
latest_seasons = ball_by_ball_df['Season'].unique()[-3:]
latest_data = ball_by_ball_df[ball_by_ball_df['Season'].isin(latest_seasons)]
print (latest_data)

        Match id       Date Season         Batting team  \
208042   1304047 2022-03-26   2022  Chennai Super Kings
208043   1304047 2022-03-26   2022  Chennai Super Kings
208044   1304047 2022-03-26   2022  Chennai Super Kings
208045   1304047 2022-03-26   2022  Chennai Super Kings
208046   1304047 2022-03-26   2022  Chennai Super Kings
...          ...        ...    ...                  ...
255754   1426287 2024-05-01   2024         Punjab Kings
255755   1426287 2024-05-01   2024         Punjab Kings
255756   1426287 2024-05-01   2024         Punjab Kings
255757   1426287 2024-05-01   2024         Punjab Kings
255758   1426287 2024-05-01   2024         Punjab Kings

                 Bowling team  Innings No  Ball No      Bowler  \
208042  Kolkata Knight Riders           1      0.0    UT Yadav
208043  Kolkata Knight Riders           1      0.1    UT Yadav
208044  Kolkata Knight Riders           1      0.1    UT Yadav
208045  Kolkata Knight Riders           1      0.2    UT Yadav
208046  Kolkata Knight Riders           1      0.3    UT Yadav
...                       ...         ...      ...         ...
255754    Chennai Super Kings           2     17.1  RJ Gleeson
255755    Chennai Super Kings           2     17.2  RJ Gleeson
255756    Chennai Super Kings           2     17.3  RJ Gleeson
255757    Chennai Super Kings           2     17.4  RJ Gleeson
255758    Chennai Super Kings           2     17.5  RJ Gleeson

               Striker     Non Striker  runs_scored  extras type of extras  \
208042      RD Gaikwad       DP Conway            0       1        noballs
208043      RD Gaikwad       DP Conway            0       0            NaN
208044      RD Gaikwad       DP Conway            0       1          wides
208045      RD Gaikwad       DP Conway            0       0            NaN
208046      RD Gaikwad       DP Conway            0       0            NaN
...                ...             ...          ...     ...            ...
255754       SM Curran  Shashank Singh            0       0            NaN
255755       SM Curran  Shashank Singh            4       0            NaN
255756       SM Curran  Shashank Singh            0       0            NaN
255757       SM Curran  Shashank Singh            0       1        legbyes
255758  Shashank Singh       SM Curran            2       0            NaN

        score score/wicket  wicket_confirmation wicket_type fielders_involved  \
208042      1          1/0                    0         NaN               NaN
208043      1          1/0                    0         NaN               NaN
208044      2          2/0                    0         NaN               NaN
208045      2          2/0                    0         NaN               NaN
208046      2       02-Jan                    1      caught            N Rana
...       ...          ...                  ...         ...               ...
255754    156        156/3                    0         NaN               NaN
255755    160        160/3                    0         NaN               NaN
255756    160        160/3                    0         NaN               NaN
255757    161        161/3                    0         NaN               NaN
255758    163        163/3                    0         NaN               NaN

        Player Out   Round
208042         NaN   96807
208043         NaN   96807
208044         NaN   96807
208045         NaN   96807
208046  RD Gaikwad   96807
...            ...     ...
255754         NaN  109031
255755         NaN  109031
255756         NaN  109031
255757         NaN  109031
255758         NaN  109031

[47717 rows x 20 columns]

In [16]:
LhFerguson_performance = ball_by_ball_df[(ball_by_ball_df['Striker'] == 'LhFerguson') | (ball_by_ball_df['Bowler'] == 'LhFerguson')]

In [19]:
LhFerguson_summary = LhFerguson_performance.groupby('Season').agg({
    'runs_scored': lambda x: x[(LhFerguson_performance['Striker'] == 'LhFerguson')].sum(),
    'wicket_confirmation': lambda x: x[(LhFerguson_performance['Bowler'] == 'LhFerguson')].sum()
}).reset_index()

In [20]:
LhFerguson_salary = salaries_df[salaries_df['Player'].str.contains('LhFerguson', case=False)]

In [21]:
if not LhFerguson_salary.empty:
   LhFerguson_summary['Salary'] = LhFerguson_salary['Salary'].values[0]

In [22]:
LhFerguson_summary.head()

Empty DataFrame
Columns: [Season, runs_scored, wicket_confirmation]
Index: []

In [23]:
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import pearsonr

In [48]:
# Filter ball-by-ball data for Lockie Ferguson's bowling performance
ferguson_bowling_data = ball_by_ball_df[ball_by_ball_df['Bowler'] == 'LH Ferguson']

# Extract salary information for Lockie Ferguson
ferguson_salary = salaries_df[salaries_df['Player'].str.contains('Ferguson', case=False, na=False)]

ferguson_bowling_data.head(), ferguson_salary

(        Match id       Date Season   Batting team            Bowling team  \
 139560   1082603 2017-04-14   2017  Gujarat Lions  Rising Pune Supergiant
 139561   1082603 2017-04-14   2017  Gujarat Lions  Rising Pune Supergiant
 139562   1082603 2017-04-14   2017  Gujarat Lions  Rising Pune Supergiant
 139563   1082603 2017-04-14   2017  Gujarat Lions  Rising Pune Supergiant
 139564   1082603 2017-04-14   2017  Gujarat Lions  Rising Pune Supergiant

         Innings No  Ball No       Bowler      Striker  Non Striker  \
 139560           2      1.1  LH Ferguson  BB McCullum     DR Smith
 139561           2      1.2  LH Ferguson  BB McCullum     DR Smith
 139562           2      1.3  LH Ferguson  BB McCullum     DR Smith
 139563           2      1.4  LH Ferguson  BB McCullum     DR Smith
 139564           2      1.5  LH Ferguson     DR Smith  BB McCullum

         runs_scored  extras type of extras  score score/wicket  \
 139560            0       0            NaN     16         16/0
 139561            0       0            NaN     16         16/0
 139562            6       0            NaN     22         22/0
 139563            1       0            NaN     23         23/0
 139564            0       0            NaN     23         23/0

         wicket_confirmation wicket_type fielders_involved Player Out  Round
 139560                    0         NaN               NaN        NaN  74663
 139561                    0         NaN               NaN        NaN  74663
 139562                    0         NaN               NaN        NaN  74663
 139563                    0         NaN               NaN        NaN  74663
 139564                    0         NaN               NaN        NaN  74663  ,
 Empty DataFrame
 Columns: [Player, Salary, Rs, international, iconic]
 Index: [])

In [50]:
# Clean player names in the salary data
salaries_df['Player'] = salaries_df['Player'].str.strip().str.lower()

# Check for Lockie Ferguson again in the cleaned data
ferguson_salary_cleaned = salaries_df[salaries_df['Player'].str.contains('ferguson', case=False, na=False)]

ferguson_salary_cleaned

Empty DataFrame
Columns: [Player, Salary, Rs, international, iconic]
Index: []

In [51]:
possible_variations = salaries_df[salaries_df['Player'].str.contains('ferguson', case=False, na=False)]
possible_variations.head(10)

Empty DataFrame
Columns: [Player, Salary, Rs, international, iconic]
Index: []